# General node_modules
**/node_modules
**/npm-debug.log
**/yarn-error.log

# Logs
logs
*.log
logs/*

# Dependency directories
bower_components

# Miscellaneous
.DS_Store
Thumbs.db

# Folder: ExpressServer
ExpressServer/node_modules
ExpressServer/npm-debug.log
ExpressServer/.env
ExpressServer/obj

# Folder: NetCoreApi
DND.NETCore.API/bin
DND.NETCore.API/obj
DND.NETCore.API/.vs
DND.NETCore.API/*.db

DND.NETCore.Application/bin
DND.NETCore.Application/obj
DND.NETCore.Application/.vs

DND.NETCore.Core/bin
DND.NETCore.Core/obj

DND.NETCore.DataAccess/obj
DND.NETCore.DataAccess/bin

# Folder: vueclient
vueclient/node_modules
vueclient/dist
vueclient/.env.*
vueclient/.temp
vueclient/*.local
vueclient/npm-debug.log*
vueclient/yarn-error.log*
vueclient/tests/e2e/reports
vueclient/obj

# Folder: Starter
Starter/node_modules
Starter/npm-debug.log
Starter/.env
Starter/bin
# VisualStudio
.vs/